{% extends "layout.html" %} 

{% block content %}

<h1 class="text-center">Editor</h1>
<div class="text-center">
  <a href="{{url_for('logout')}}" class="btn btn-warning">Logout</a>
</div>
<div class="container">
  <form action="{{ url_for('create_post') }}" method="POST">

    <div class="mb-3">
      <label for="input-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="input-title" name="title">
    </div>
    
    <div class="mb-3">
      <label for="textarea-content" class="form-label">Content</label>
      <textarea class="form-control" id="textarea-content" rows="10" name="content"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
</div>

{% endblock %}
<script type="application/javascript" src="/share.js"></script>